@media (min-width: 376px) {
  .img-desktop {
    display: block;
  }

  .img-mobile {
    display: none;
  }
}

@media (max-height: 625px) {
  .container {
    margin: 70px auto !important;
  }
}

@media (max-width: 465px) {
  .img-desktop {
    display: none;
  }

  .img-mobile {
    display: block;
  }

  .container {
    margin: auto !important;
  }

  .card {
    grid-template-columns: 1fr !important;
    grid-gap: 0 !important;
    min-height: 750px;

    &-content {
      grid-row: 2;
      text-align: center;
      grid-template-columns: 1fr !important;
      grid-gap: 1.5rem !important;
      padding: 2rem 1.5rem 1.5rem !important;
    }

    &-texts {
      grid-column: 1 !important;
      margin-bottom: 1rem;

      h1 {
        font-size: 1.65rem !important;
        font-weight: 700;
      }
    }

    &-img {
      grid-row: 1;
    }
  }
}
