@import "variables";
@import "global";
@import "media";

.container {
  display: flex;
  max-width: 1055px;
  margin: 250px auto;
  padding: 2rem;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  background: $card-bg;
  place-self: center;
  border-radius: 10px;
  overflow: hidden;

  &-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    place-items: center;
    width: 100%;
    padding: 3rem 4rem;
  }

  &-texts {
    grid-column: 1 / span 3;

    h1 {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
  }

  &-stat {
    text-align: center;
    p {
      margin-top: 0.2rem;
      text-transform: uppercase;
      color: $stat-heading;
      font-size: 0.8rem;
    }
  }

  &-img {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: darken($accent, 25%);
      z-index: 2;
      opacity: 0.55;
    }
  }
}
